<h1 class= "page-header">All Jobs for <%= @company.name %></h1>

<% @company.jobs.each do |job| %>
  <%= link_to job.title, company_job_path(@company, job) %><br><br>
<% end %>

<h3>Contacts</h3>
<% @company.contacts.each do |contact| %>
  <%= contact.name %>
  <%= contact.position %>
  <%= contact.email %>
<% end %>

<h4>Create a new Contact</h4>
<%= form_for [@company, @contact] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :position %>
  <%= f.text_field :position %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>
