<h1 class= "page-header">All Jobs for <%= @company.name %></h1>

<% @company.jobs.each do |job| %>
  <%= link_to job.title, company_job_path(@company, job) %><br><br>
<% end %>

<div class="contacts">
<h3 class= "page-header">Contacts</h3>
<% @company.contacts.each do |contact| %>
<div class="contact">
  <%= contact.name %><br>
  <%= contact.position %><br>
  <%= contact.email %><br>
</div>
<% end %>

<p>Create a new Contact</p>
<%= form_for [@company, @contact] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :position %>
  <%= f.text_field :position %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.submit :class => "btn btn-default edit" %>
<% end %>
</div>
